.siteTitle{
    font-size:40px; 
    /* font-family: Roboto; */
}
a.anchor-title{
    color: inherit;
    text-decoration: none;
    margin-left: -1em;
    padding-left: 15px;
    background-image: url("link.png");
    background-size: 0px 0px;
    background-repeat: no-repeat;
    background-position: left center;
}

a.anchor-title:hover{
    text-decoration: none;
    color: inherit;
    background-size: 15px 15px;
}

#help {
    text-align: justify;
    text-justify: inter-word;
}

div#toc {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-top: 10px;
    padding-left: 10px;
}

p.toc-H2{
    
}

p.toc-H3{
    text-indent: 10px;
}

div.banner{
    background-image: url("Banner2.png");
    margin:0px;
    padding:0px;
}

.siteTitle{
    text-decoration: none;
    color: #414141;
}

.siteTitle:hover{
    text-decoration: none;
    color: #414141;
}

div.front-image{
    background-image: url("banner3_tree.png");
    background-size: 400px 317px;
    margin:0px;
    padding:0px;
    width:400px;
    height:290px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* background-color: #f5f5f5; */
    float:right;
}

.homepage:hover {
    width:90%;
    border: 1px solid #B1B1B1;
    padding: 5px;
    display:block;
    z-index:999;
}

.homepage {
    width: 60%;
    border: 1px solid #B1B1B1;
    padding: 5px;
}

blockquote.front-cite{
    font-size: 13px;
}

p.imagehome {
    text-align: center;
}

div.resulttree img{
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    max-width:100%;
}

/* div#leftpanel{ */
/*     width: 180px; */
/*     position:absolute; */
/* } */

div.col-title{
    font-weight: bold;
}

/* div#content{ */
/*     margin-left:205px; */
/*     margin-right:10px; */
/*     /\* margin-right:500px; *\/ */
/* } */

div#runlist{
    font-size : x-small;
}

.login-info{
    text-align:center;
    font-size : x-small;
}

pre.terminal-messages{
    height:120px;
    overflow:auto;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  float:right;
}

#loggeduser {
    float:right;
}

.glyphicon-right {
  float:right;
}

.subaffiliation{
    width:100%;
    text-align:center;
}

#phylocanvas{
    overflow: hidden;
}
